.wrapper {
	background-color: Gray;
	height: 1080px;

  animation-duration: 3s;
  animation-name: slideopen;
}
.title {
	display: block;
	width: 55%;
	background-color: Teal;


  animation-duration: 3s;
  animation-name: slideopen;
}
.row {
  display: grid;
  grid-auto-rows: 76px;
  grid-template-columns: 2;
  grid-gap: 0px;
  grid-column: 1;
	height: 76px;
  padding-left: 0;
  animation-duration: 3s;
  animation-name: slideopen;
}


.content {
	height: 76px;
	opacity: .5;
	display: grid;
  grid-gap: 0px;
  grid-column: 2;
  grid-auto-rows: 76px;
	width: 30%;
	background-color: Cyan;
	text-align: center;
	transition: opacity 1s;
  vertical-align: right;
  animation: .25s 2 alternate bounce;

}
.content:hover {
   opacity: 1;
    padding-left: 1em;
    padding-right: 1em;
}
.item {
	height: 76px;
	opacity: .5;
	width: 30%;
	background-color: Cyan;
	text-align: center;
	transition: opacity 1s;
  animation-duration: 3s;
  animation-name: slideopen;

}
.item:active {
	height: 76px;
	opacity: .5;
	width: 30%;
	background-color: Cyan;
	text-align: center;
	transition: opacity 1s;
  animation: .25s 2 alternate bounce, slideopen;

}

.item:hover {
	opacity:1;
	padding-left: 1em;
	padding-right: 1em;
}
table {
	border-collapse: seperate;
  table-align: left;
}
@keyframes bounce {
   from {
      padding-left: 1em;
      padding-right: 1em;
   }
  to {
    padding-left: 0em;
    padding-right: 0em;
  }
}


@keyframes slideopen {
  from {
    margin-left: 100%;
  }

  to {
    margin-left:0%;
  }
}
tr {
	padding-top: .75em;
	padding-bottom: .75em;
	background-color: Cyan;
  margin-left:0%;
}
tc {
}
