.wrapper {
	display: block;
	text-align: center;
	background-color: Gray;
	height: 1080px;
  overflow: hidden;

  animation-duration: 3s;
  animation-name: slideopen;
}
.title {
	display: block-inline;
	width: 55%;
	background-color: Teal;


  animation-duration: 3s;
  animation-name: slideopen;
}
.row {
	position: absolute;


  animation-duration: 3s;
  animation-name: slideopen;
}


.item {
	position: relative;

	opacity: .5;
	display: block-inline;
	width: 30%;
	background-color: Cyan;
	text-align: center;
	transition: opacity 1s;
  animation-duration: 3s;
  animation-name: slideopen;
}
.item:hover {
	opacity:1;
	padding-right: 1em;
}
table {
  border-spacing: 0;
	border-collapse: collapse;
}
@keyframes slideopen {
  from {
    margin-left: 100%;
  }

  to {
    margin-left:0%;
  }
}
tr {
  padding:0;
  margin:0;
	background-color: Cyan;
}
